  <ul class="flex gap-8 items-center">
    <li class="group hidden hover:cursor-pointer sm:block">
      <i class="pi pi-globe text-xl text-gray-500 group-hover:text-black"></i>
    </li>
    <li class="group hidden hover:cursor-pointer sm:block">
      <i class="pi pi-cog text-xl text-gray-500 group-hover:text-black"></i>
    </li>
    <li class="group relative hover:cursor-pointer sm:block">
      <i class="pi pi-bell text-xl text-gray-500 group-hover:text-black"></i>
      <span class="absolute size-2 rounded-full -top-1.5 -right-1.5 bg-primary"></span>
      <span class="absolute size-2 rounded-full -top-1.5 -right-1.5 z-20 bg-primary animate-ping"></span>
    </li>
    <li class="hidden font-inter font-semibold text-lg text-gray-700 hover:text-black sm:block">
      {{ username }}
    </li>
  </ul>
