  <ul class="flex gap-8 items-center">
    <li class="group hidden hover:cursor-pointer sm:block">
      <i class="pi pi-globe text-xl text-gray-500 px-3 py-2 rounded-lg group-hover:text-black group-hover:bg-blue-200"></i>
    </li>
    <li class="group hidden hover:cursor-pointer sm:block">
      <i class="pi pi-cog text-xl text-gray-500 px-3 py-2 rounded-lg group-hover:text-black group-hover:bg-blue-200"></i>
    </li>
    <li class="group relative mr-1.5 hover:cursor-pointer sm:block sm:mr-0">
      <i class="pi pi-bell text-xl text-gray-500 px-3 py-2 rounded-lg group-hover:text-black group-hover:bg-blue-200"></i>
      <span class="absolute size-2 rounded-full top-0 right-0 bg-primary"></span>
      <span class="absolute size-2 rounded-full top-0 right-0 z-20 bg-primary animate-ping"></span>
    </li>
    <li class="hidden font-inter font-semibold text-lg text-gray-700 hover:text-black sm:block">
      {{ username }}
    </li>
  </ul>
