<div class="card">
  <p-table [value]="plants" [tableStyle]="{ 'min-width': '50rem' }">

    <ng-template pTemplate="caption">

      <div class="flex flex-col gap-4 sm:flex-row">

        <div class="flex justify-between items-center sm:gap-4 md:gap-10">
          <span class="font-inter text-gray-600">Plantas</span>
          <button type="button" class="font-inter text-sm text-gray-600 rounded-lg px-3 py-2 outline outline-gray-400 outline-1 shadow shadow-black/40 hover:bg-primary hover:outline-none hover:text-white">+ Crear nueva planta</button>
        </div>

        <p-iconField iconPosition="left" class="sm:ml-auto">
            <p-inputIcon styleClass="pi pi-search" />
            <input type="text" placeholder="Buscar planta" class="w-full outline outline-1 rounded-lg px-3 pl-10 py-1.5 hover:outline-gray-600 focus:outline-2 focus:outline-primary placeholder:font-inter placeholder:font-light md:flex-auto"/>
        </p-iconField>

      </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th class="text-gray-600">País</th>
            <th class="text-gray-600">Nombre Planta</th>
            <th class="text-gray-600">Lecturas</th>
            <th class="text-gray-600">Alerta Media</th>
            <th class="text-gray-600">Alerta Roja</th>
            <th class="text-center">Acciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-plant>
        <tr>
            <td>{{ plant.country }}</td>
            <td>{{ plant.plantName }}</td>
            <td>{{ plant.normalAlert }}</td>
            <td>{{ plant.mediumAlert }}</td>
            <td>{{ plant.highAlert }}</td>
            <td class="text-center">
              <app-popup [plantId]="0"/>
            </td>
        </tr>
    </ng-template>
  </p-table>
</div>
