<div class="card">
  <p-table [value]="plants" [tableStyle]="{ 'min-width': '5rem' }">

    <ng-template pTemplate="caption">

      <div class="flex flex-col gap-4 sm:flex-row">

        <div class="flex flex-wrap justify-between items-center gap-2 sm:gap-4 md:gap-10">
          <span class="font-inter text-gray-600">Plantas</span>
          <app-create-plant title="+ Crear nueva planta" />
        </div>

        <p-iconField iconPosition="left" class="content-center sm:ml-auto">
            <p-inputIcon styleClass="pi pi-search" />
            <input type="text" placeholder="Buscar planta" class="w-full outline outline-1 rounded-lg px-3 pl-10 py-1.5 hover:outline-gray-600 focus:outline-2 focus:outline-primary placeholder:font-inter placeholder:font-light md:flex-auto"/>
        </p-iconField>

      </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th class="text-gray-600">País <span class="sm:hidden">/ Planta</span></th>
            <th class="hidden text-gray-600 sm:block">Nombre Planta</th>
            <th class="text-gray-600">
              <span class="mx-auto text-center size-5 rounded-full bg-icon-check grid items-center shadow shadow-gray-800/30 sm:hidden">
                <i class="pi pi-check text-xs text-check"></i>
              </span>
              <span class="hidden sm:block">Lecturas</span>
            </th>
            <th class="text-gray-600">
              <span class="mx-auto text-center size-5 rounded-full bg-icon-warning grid items-center shadow shadow-gray-800/30 sm:hidden">
                <i class="pi pi-info text-xs text-warning rotate-180"></i>
              </span>
              <span class="hidden sm:block">Alerta Media</span>
            </th>
            <th class="text-gray-600 text-center">
              <span class="mx-auto text-center size-5 rounded-full bg-icon-danger grid items-center shadow shadow-gray-800/30 sm:hidden">
                <i class="pi pi-exclamation-triangle text-xs text-danger"></i>
              </span>
              <span class="hidden sm:block">Alerta Roja</span>
            </th>
            <th class="text-center">
              <i class="pi pi-pen-to-square sm:hidden"></i>
              <span class="hidden sm:block">Acciones</span>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-plant>
        <tr>
            <td>
              <div>
                <span class="block">{{ plant.country }}</span>
                <span class="sm:hidden">{{ plant.plantName }}</span>
              </div>
            </td>
            <td class="hidden sm:block">{{ plant.plantName }}</td>
            <td class="text-center">{{ plant.normalAlert }}</td>
            <td class="text-center">{{ plant.mediumAlert }}</td>
            <td class="text-center">{{ plant.highAlert }}</td>
            <td class="text-center">
              <app-popup [plant]="plant"/>
            </td>
        </tr>
    </ng-template>
  </p-table>
</div>
