<main class="max-w-[1440px] mx-auto">
  <section class="min-h-dvh grid grid-cols-12 col-span-12 grid-row-4 auto-rows-max gap-4 px-2 py-6 sm:px-6 sm:gap-6 lg:grid-cols-12">
    <app-side-menu class="hidden lg:block lg:col-span-1 lg:row-span-3 lg:row-start-2" />

    <header class="flex items-center gap-2 col-span-12 lg:col-span-11 lg:col-start-2 lg:my-5">
      <app-menu-bar class="lg:hidden" />
      <h1 class="font-inter">
        <span class="hidden font-medium text-3xl text-gray-700 sm:block">Monitoreo Global</span>
        <span class="font-semibold text-gray-700 sm:hidden">Resumen de Planta</span>
      </h1>
      <app-user-menu class="ml-auto" username="Juan Rojas"/>
    </header>

    <div class="col-span-12 lg:col-span-11 lg:col-start-2">
      <div class="grid grid-cols-1 justify-between gap-3 justify-items-stretch xs:gap-4 xs:grid-cols-2 lg:gap-8 lg:grid-cols-4 xl:gap-12">
        <app-alert-card [title]="'Lecturas OK'" [total]="392" [icon]="alertIcon.ok"/>
        <app-alert-card [title]="'Alertas Medias'" [total]="120" [icon]="alertIcon.warning"/>
        <app-alert-card [title]="'Alertas Rojas'" [total]="10" [icon]="alertIcon.danger"/>
        <app-alert-card [title]="'Alertas Deshabilitadas'" [total]="2" [icon]="alertIcon.disabled"/>
      </div>
    </div>

    <!-- Table -->
    <div class="col-span-12 lg:col-span-11 lg:col-start-2">
      <app-plant-table />
    </div>

    <!-- Sensors -->
    <div class="col-span-12 lg:col-span-11 lg:col-start-2">
      <div class="grid grid-cols-1 justify-between gap-3 justify-items-stretch sm:gap-4 sm:grid-cols-2 lg:gap-x-8 lg:grid-cols-3 xl:gap-x-12 2xl:grid-cols-4">
        @for (sensor of sensors; track $index) {
          <app-sensor-card [name]="sensor.sensorType" [severity]="sensor.severity" [sensorType]="sensor.sensorType"/>
        }
      </div>
    </div>

  </section>
</main>
