<div class="font-inter bg-white flex justify-between items-center gap-2 p-4 rounded-2xl shadow-sm">

  <div class="content-center space-y-2 lg:flex-1">
    <h3 class="text-sm text-gray-500 md:text-base">{{ name }}</h3>
    <!-- lg:flex-col lg:items-start xl:flex-row  -->
    <div class="flex gap-6 items-center lg:gap-4">
      <div class="flex gap-2 items-center">
        <span class="size-5 rounded-full bg-[#DEE8DB] grid place-content-center shadow">
          <i class="pi pi-check text-xs text-[#539B5B]"></i>
        </span>
        <span>{{ severity.high }}</span>
      </div>
      <div class="flex gap-2 items-center">
        <span class="size-5 rounded-full bg-[#fff8bd] grid place-content-center shadow">
          <i class="pi pi-info text-xs text-[#efc049] rotate-180"></i>
        </span>
        <span>{{ severity.medium }}</span>
      </div>
      <div class="flex gap-2 items-center">
        <span class="size-5 rounded-full bg-[#f9d3cc] grid place-content-center shadow">
          <i class="pi pi-exclamation-triangle text-xs text-[#FF1010]"></i>
        </span>
        <span>{{ severity.low }}</span>
      </div>
    </div>
  </div>

  <app-sensor-icon class="lg:flex-shrink" [sensorType]="sensorType" />

  <!-- <div class="size-16 rounded-full content-center bg-[#EFF2F7] lg:flex-shrink">
    <svg class="mx-auto" width="14" height="28" fill="none"><path d="M7 2.375A2.625 2.625 0 0 0 4.375 5v11.84l-.343.282a4.688 4.688 0 1 0 5.937 0l-.344-.282V5A2.625 2.625 0 0 0 7 2.375ZM2.5 5a4.5 4.5 0 1 1 9 0v10.973a6.562 6.562 0 1 1-9 0V5ZM10 20.75a3 3 0 1 1-3.937-2.85V9.688a.938.938 0 1 1 1.875 0V17.9A3.001 3.001 0 0 1 10 20.75Z" fill="#33A3AA"/></svg>
  </div> -->

</div>
