<section class="h-full bg-login sm:grid sm:grid-cols-12 sm:content-stretch">
  <article class="hidden place-self-center sm:block sm:col-span-6 2xl:col-span-7">
    <div class="font-poppins space-y-6 px-6 lg:px-0">
      <h2 class="text-5xl text-white font-semibold">Iniciar Sesión</h2>
      <p class="text-sm text-white font-light leading-6 pb-4 max-w-[360px]">Nos alegra tenerte de vuelta y estamos listos para atender tus necesidades. Inicia sesión y continúa aprovechando al máximo nuestra plataforma.</p>

      <div class="flex gap-4">
        <span>
          <svg class="mt-1.5" width="20" height="16" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M15 16V7h-2V0h7l-2 5h2l-5 11Zm-2-7v7H2c-1.1 0-2-.9-2-2v-3c0-1.1.9-2 2-2h11Zm-8.75 2.75h-1.5v1.5h1.5v-1.5ZM11 0v7H2C.9 7 0 6.1 0 5V2C0 .9.9 0 2 0h9ZM4.25 2.75h-1.5v1.5h1.5v-1.5Z" fill="#FFB84B"/></svg>
        </span>
        <div class="space-y-1">
          <p class="text-sm text-white font-medium">Monitoreo integral</p>
          <p class="text-xs text-white/75">Administra, monitorea mútiples plantas de forma centralizada</p>
        </div>
      </div>

      <div class="flex gap-4">
        <span>
          <svg class="mt-1.5" width="20" height="20" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.99 0C4.47 0 0 4.48 0 10s4.47 10 9.99 10C15.52 20 20 15.52 20 10S15.52 0 9.99 0Zm4.24 16L10 13.45 5.77 16l1.12-4.81-3.73-3.23 4.92-.42L10 3l1.92 4.53 4.92.42-3.73 3.23L14.23 16Z" fill="#FFB84B"/></svg>
        </span>
        <div class="space-y-1">
          <p class="text-sm text-white font-medium">Notificaciones en tiempo real</p>
          <p class="text-xs text-white/75">Recibe notificaciones en tiempo real sobre las mediciones</p>
        </div>
      </div>
    </div>
  </article>

  <app-login article class="col-span-12 sm:col-span-6 2xl:col-span-5" />

</section>
